{% extends asset('templates/layouts/layout.twig') %}

{% block title %}Telefono{% endblock %}

{% block tituloform %}Telefono{% endblock %}

{% block content %}


    <div class="col-md-6">

        <form role="form" action="add" method="POST">

            <div class="form-group">
                <input id="id" 
                       type="hidden" 
                       name="id" 
                       value="{{telefonomodel.id}}"></input>
                <label>Nombre</label>
                <input id="nombre" 
                       type="text" 
                       name="nombre" 
                       value="{{telefonomodel.nombre}}" 
                       class="form-control"/>

                <label>Tipo de Telefono</label>

                <select id="tipoTelefonoId"
                        name="tipoTelefonoId.id" 
                        class="form-control">

                    {% for tipotelefono in tipostelefonos %}
                        <option value="{{tipotelefono.id}}">{{tipotelefono.nombre}}</option>
                    {% endfor %}

                </select> 

            </div>

            <div class="form-group">
                <a href="#" th:href="@{/telefono/cancel}">
                    <button class="btn btn-default pull-right" style="margin: 5px" type="submit">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancelar
                    </button>
                </a>
                <button class="btn btn-primary pull-right" style="margin: 5px" type="submit">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Guardar
                </button>

            </div>
        </form>
    </div>

{% endblock %}