spring:
    datasource:
        url: jdbc:mysql://localhost:3306/mydb?useSSL=false
        username: root
        password: admin123
    jpa:
        show-sql: true
        hibernate:
            ddl-auto: update
            naming:
                strategy: org.hibernate.cfg.ImprovedNamingStrategy
        properties:
            hibernate:
                dialect: org.hibernate.dialect.MySQL5Dialect
    thymeleaf:
        cache: false
        enabled: true
        suffix: .html
        mode: HTML5
        template-resolver-order: 1
        view-names: "*"