{% extends asset('templates/layouts/layout.twig') %}

{% block title %}Tipo de Lugar{% endblock %}

{% block tituloform %}Tipo de Lugar{% endblock %}

{% block content %}


    <div class="col-md-6">
        <form role="form" action="add" method="POST">

            <div class="form-group">
                <input id="id" 
                       type="hidden" 
                       name="id" 
                       value="{{tipolugarmodel.id}}"></input>
                <label>Nombre</label>
                <input id="nombre" 
                       type="text" 
                       name="nombre" 
                       value="{{ tipolugarmodel.nombre }}" 
                       class="form-control"/>
            </div>

            <div class="form-group">
                <a href="#" th:href="@{/tipolugar/cancel}">
                    <button class="btn btn-default pull-right" style="margin: 5px" type="submit">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancelar
                    </button>
                </a>
                <button class="btn btn-primary pull-right" style="margin: 5px" type="submit">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Guardar
                </button>

            </div>
        </form>
    </div>

{% endblock %}