<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    <head th:fragment="head">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <meta charset="utf-8"/>

        <title layout:fragment="title">head</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

        <!-- Custom styles for this template -->
        <link href="#" th:href="@{/css/login.css}" rel="stylesheet" />
        <link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
    </head>
</html>
